img {
  height: 3rem;
  filter: hue-rotate(18deg) saturate(7.5) brightness(0.8);
  cursor: pointer;
}

.header {
  justify-content: center;
}

span {
  display: flex;
  align-items: center;
}

h1 {
  padding-left: 1.2rem;
  cursor: pointer;
}
