.badge {
  display: flex;
  justify-content: left;
  margin: 0 auto;
}

.field-width,
button.mat-raised-button {
  display: block;
  width: 100%;
  margin: 30px auto 0;
}

textarea {
  height: 80px;
}

@media (max-width: 600px) {
  .field-width,
  button {
    min-width: initial;
    margin: 20px;
    width: auto;
  }

  button.mat-raised-button {
    width: calc(100% - 40px);
  }
}
