<div class="container">
  <div class="badge">
    <button
      mat-stroked-button
      [matBadge]="closed"
      color="primary"
      routerLink="/finalizados"
    >
      Tasks finalizadas
    </button>
  </div>

  <button
    class="novo-to-do mat-elevation-z8"
    mat-stroked-button
    color="primary"
    routerLink="/criar"
  >
    Novo To-do
  </button>

  <div class="content" *ngFor="let item of list">
    <mat-card class="mat-elevation-z8">
      <p>Para finalizar: {{ item.dataParaFinalizar }}</p>
      <mat-card-header>
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button mat-mini-fab color="primary" (click)="finalizar(item)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="accent" [routerLink]="['/editar', item.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="delete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
